<section id="delete-agent">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="page-header">
					<h2>Eliminando agente del sistema <small>Puedes volver a agregarlo más tarde</small></h2>
				</div>
				<p>Eliminar a un agente del sistema lo eliminará de las listas. Lamentamos que quieras quitar tu personaje del listado, pero lo entendemos si estás recibiendo muchos mensajes o solicitudes de amistad y ya no puedes más con ellas.</p>
				<p>Recuerda que puedes volverte a agregar sin problema más tarde introduciendo tus datos nuevamente.</p>
				<p>&nbsp;</p>

				<div class="alert alert-success" role="alert">
					<strong>Todo listo!</strong> El agente <em>{{ .Username }}</em> ha sido eliminado del sitio de "Buscando Grupo". Si quieres, puedes volver a agregarlo más tarde.
				</div>
			</div>
		</div>
	</div>
</section>