<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Buscando Grupo &mdash; Encuentra otros agentes de The Division con quienes jugar</title>
<link href="/assets/build/css/build.min.css" rel="stylesheet">
<link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
<header>
	<div class="container">
		<div class="row" id="topbar">
			<div class="col-sm-6">
				<a id="logo" href="/">Buscando Grupo</a>
			</div>
			<div class="hidden-xs col-sm-6">
				<nav class="pull-right">
					<ul class="nav nav-pills">
						<li>
							<a rel="nofollow" target="_blank" href="https://www.twitter.com/thedivisionlat"><i class="fa fa-twitter"></i> Nuestro Twitter</a>
						</li>
						<li>
							<a rel="nofollow" target="_blank" href="http://www.thedivisionlatino.com">Volver al Blog &rsaquo;</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
{{ yield }}
<footer>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-5">
				<h3>Buscando Grupo en TDL</h3>
				<p>The Division Latino es un weblog dedicado a cubrir todas las novedades, noticias y tutoriales de "The Division" en Español.</p>
				<p>"The Division Latino" no está afiliado a Ubisoft en ninguna forma. Las opiniones vertidas en este espacio son de exclusiva responsabilidad de quienes las emiten y no representan necesariamente el pensamiento ni la línea editorial de este sitio.</p>
			</div>
			<div class="col-xs-12 col-md-offset-2 col-md-5">
				<h3>Suscríbete al Boletín</h3>
				<p>Suscríbete al boletín de noticias, te enviaremos un e-mail con las novedades más importantes sobre &quot;The Division&quot;</p>
				<div id="mc_embed_signup">
					<form action="https://tinyletter.com/thedivisionlatino" method="post" target="popupwindow"
					onsubmit="window.open('https://tinyletter.com/thedivisionlatino', 'popupwindow', 'scrollbars=yes,width=800,height=600'); return true"
					id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate">
						<div id="mc_embed_signup_scroll">
							<div class="mc-field-group form-group">
								<input type="email" name="email" id="tlemail" class="required email form-control" placeholder="Tu dirección e-mail">
								<input type="hidden" value="1" name="embed">
							</div>
							<div class="clear">
								<input type="submit" value="Suscríbeme" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</footer>
<script src="/assets/build/js/build.min.js"></script>
</body>
</html>
