<div class="col-xs-12">

</div>

<div class="col-sm-6 col-md-4 form-group">
	<select class="form-control" name="platform" id="select-platform">
		<option value="all" selected>Cualquier plataforma</option>
		<option value="pc">PC (Uplay / Steam)</option>
		<option value="ps4">PlayStation 4</option>
		<option value="xbone">Xbox One</option>
	</select>
</div>
<div class="col-sm-6 col-md-4 form-group">
	<select class="form-control" name="activity" id="select-activity">
		<option value="all" selected>Cualquier actividad</option>
		<optgroup label="Misiones Diarias">
			<option value="daily-challenge">En modo desafiante</option>
			<option value="daily-hard">En modo difícil</option>
		</optgroup>
		<optgroup label="Zona Oscura">
			<option value="dz-farming">Farmeo / Leveling</option>
			<option value="dz-rogue">Modo Renegado</option>
		</optgroup>
		<optgroup label="Modo Historia">
			<option value="story-normal">Niveles dificultad Normal</option>
			<option value="story-hard">Niveles dificultad Difícil</option>
			<option value="story-challenge">Niveles dificultad Desafiante</option>
		</optgroup>
		<optgroup label="Modo Libre">
			<option value="fr-farming">Farmeo / Leveling</option>
			<option value="fr-free">Modo Libre</option>
			<option value="fr-sidemissions">Misiones Secundarias</option>
		</optgroup>
		<optgroup label="Otros">
			<option value="trading">Intercambio de Objetos</option>
		</optgroup>
	</select>
</div>
<div class="col-sm-6 col-md-4 form-group">
	<select class="form-control" name="level" id="select-level">
		<option value="all" selected>Cualquier nivel en Modo Historia</option>
		<option value="first-tier">Nivel 1 a 10</option>
		<option value="second-tier">Nivel 11 a 20</option>
		<option value="third-tier">Nivel 21 a 30</option>
	</select>
</div>
<div class="col-sm-6 col-md-4 form-group">
	<select class="form-control" name="microphone" id="select-microphone">
		<option value="all" selected>Que tenga o no Micrófono</option>
		<option value="mic-on">Que tenga micrófono</option>
		<option value="mic-off">Que no tenga micrófono</option>
	</select>
</div>
<div class="col-sm-6 col-md-4 form-group">
	<select class="form-control" name="lookingfor" id="select-lookingfor">
		<option value="all" selected>Buscando grupo o algo más</option>
		<option value="lfg">Que busque grupo</option>
		<option value="lfm">Que busque amistad</option>
	</select>
</div>
<div class="col-sm-6 col-md-4 form-group">
	<input type="text" name="search" class="form-control" placeholder="Busca en la descripción del Agente...">
</div>
<div class="col-sm-offset-1 col-sm-5 col-md-offset-2 col-md-4 form-group">
	<button type="button" class="form-control btn btn-primary"><i class="fa fa-search"></i> Buscar Agentes</button>
</div>
<div class="col-sm-offset-0 col-sm-5 col-md-offset-0 col-md-4 form-group">
	<button type="button" class="form-control btn btn-success"><i class="fa fa-user-plus"></i> Agregarme al Listado</button>
</div>