<div class="col-xs-12">

</div>

<div class="col-sm-6 col-md-4 form-group">
	<select class="form-control" name="platform" id="select-platform">
		<option value="all" selected>Cualquier plataforma</option>
		<option value="1">PC (Uplay / Steam)</option>
		<option value="2">PlayStation 4</option>
		<option value="3">Xbox One</option>
	</select>
</div>
<div class="col-sm-6 col-md-4 form-group">
	<select class="form-control" name="activity" id="select-activity">
		<option value="all" selected>Cualquier actividad</option>
		<optgroup label="Misiones Diarias">
			<option value="1">En modo desafiante</option>
			<option value="2">En modo difícil</option>
		</optgroup>
		<optgroup label="Zona Oscura">
			<option value="3">Farmeo / Leveling</option>
			<option value="4">Modo Renegado</option>
		</optgroup>
		<optgroup label="Modo Historia">
			<option value="5">Niveles dificultad Normal</option>
			<option value="6">Niveles dificultad Difícil</option>
			<option value="7">Niveles dificultad Desafiante</option>
		</optgroup>
		<optgroup label="Modo Libre">
			<option value="8">Farmeo / Leveling</option>
			<option value="9">Modo Libre</option>
			<option value="10">Misiones Secundarias</option>
		</optgroup>
		<optgroup label="Otros">
			<option value="11">Intercambio de Objetos</option>
		</optgroup>
	</select>
</div>
<div class="col-sm-6 col-md-4 form-group">
	<select class="form-control" name="microphone" id="select-microphone">
		<option value="all" selected>Que tenga o no Micrófono</option>
		<option value="1">Que tenga micrófono</option>
		<option value="2">Que no tenga micrófono</option>
	</select>
</div>
<div class="col-sm-6 col-md-4 form-group">
	<select class="form-control" name="lookingfor" id="select-lookingfor">
		<option value="all" selected>Buscando grupo o algo más</option>
		<option value="1">Que busque grupo</option>
		<option value="2">Que busque amistad</option>
	</select>
</div>
<div class="col-xs-6 col-sm-3 col-md-2 form-group">
	<select class="form-control" name="level" id="select-level">
		<option value="all" selected>Nivel en Historia</option>
		<option value="1">Nivel 1 a 10</option>
		<option value="2">Nivel 11 a 20</option>
		<option value="3">Nivel 21 a 30</option>
	</select>
</div>
<div class="col-xs-6 col-sm-3 col-md-2 form-group">
	<select class="form-control" name="dzlevel" id="select-dzlevel">
		<option value="all" selected>Nivel en la DZ</option>
		<option value="1">Nivel menor a 30</option>
		<option value="2">Nivel 30 a 50</option>
		<option value="3">Nivel mayor a 50</option>
	</select>
</div>
<div class="col-sm-6 col-md-4 form-group">
	<input type="text" id="select-search" name="search" class="form-control" placeholder="Busca en la descripción del Agente...">
</div>
<div class="col-sm-offset-1 col-sm-5 col-md-offset-2 col-md-4 form-group">
	<button type="button" id="search-agents" class="form-control btn btn-primary">
		<i class="fa fa-search"></i> Buscar Agentes
	</button>
</div>
<div class="col-sm-offset-0 col-sm-5 col-md-offset-0 col-md-4 form-group">
	<button type="button" class="form-control btn btn-success" data-toggle="modal" data-target="#modal-add-agent">
		<i class="fa fa-user-plus"></i> Agregarme al Listado
	</button>
</div>

<div class="modal fade" id="modal-add-agent" tabindex="-1" role="dialog" aria-labelledby="add-modal-title">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="add-modal-title">Agrega un nuevo agente</h4>
			</div>
			<div class="modal-body">
				<div class="form-group" id="add-alert-placement"></div>
				<div class="form-group">
					<label for="aa-username">Nombre de Usuario</label>
					<input type="text" class="form-control" id="aa-username" placeholder="Tu nombre...">
				</div>
				<div class="form-group">
					<label for="aa-platform">Plataforma en la que juegas</label>
					<select class="form-control" name="platform" id="aa-platform">
						<option disabled selected="">Selecciona plataforma...</option>
						<option value="1">PC (Uplay / Steam)</option>
						<option value="2">PlayStation 4</option>
						<option value="3">Xbox One</option>
					</select>
				</div>
				<div class="form-group">
					<label for="aa-activity">Actividad que quieres realizar</label>
					<select class="form-control" name="activity" id="aa-activity">
						<option disabled selected="">Selecciona actividad...</option>
						<optgroup label="Misiones Diarias">
							<option value="1">En modo desafiante</option>
							<option value="2">En modo difícil</option>
						</optgroup>
						<optgroup label="Zona Oscura">
							<option value="3">Farmeo / Leveling</option>
							<option value="4">Modo Renegado</option>
						</optgroup>
						<optgroup label="Modo Historia">
							<option value="5">Niveles dificultad Normal</option>
							<option value="6">Niveles dificultad Difícil</option>
							<option value="7">Niveles dificultad Desafiante</option>
						</optgroup>
						<optgroup label="Modo Libre">
							<option value="8">Farmeo / Leveling</option>
							<option value="9">Modo Libre</option>
							<option value="10">Misiones Secundarias</option>
						</optgroup>
						<optgroup label="Otros">
							<option value="11">Intercambio de Objetos</option>
						</optgroup>
					</select>
				</div>
				<div class="form-group">
					<label for="aa-microphone">¿Tienes un micrófono?</label>
					<select class="form-control" name="microphone" id="aa-microphone">
						<option disabled selected="">Selecciona una opción...</option>
						<option value="0">Si tengo micrófono</option>
						<option value="1">No tengo micrófono</option>
					</select>
				</div>
				<div class="form-group">
					<label for="aa-lookingfor">¿Qué buscas en otros agentes?</label>
					<select class="form-control" name="lookingfor" id="aa-lookingfor">
						<option disabled selected="">Selecciona una opción...</option>
						<option value="1">Busco un grupo al cual unirme</option>
						<option value="2">Busco hacer amistad para jugar más de una vez</option>
					</select>
				</div>
				<div class="form-group">
					<label for="aa-lookingfor">Tus niveles de juego y Zona Oscura</label>
					<div class="row">
						<div class="col-xs-6">
							<select class="form-control" name="level" id="aa-level">
								<option disabled selected="">Selecciona modo historia...</option>
								{{ renderselect 30 }}
							</select>
						</div>
						<div class="col-xs-6">
							<select class="form-control" name="dzlevel" id="aa-dzlevel">
								<option disabled selected="">Selecciona Zona Oscura...</option>
								{{ renderselect 99 }}
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="aa-description">Información adicional</label>
					<input type="text" class="form-control" id="aa-description" placeholder="DPS, salud, tipo de build o info adicional?">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
				<button type="button" id="save-agent" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Agregar agente</button>
			</div>
		</div>
	</div>
</div>