<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Nombre</th>
			<th>LVL / DZ</th>
			<th>Actividad</th>
			<th>Descripción</th>
			<th>Publicado</th>
		</tr>
	</thead>

<tbody>
	<tr>
		<td><span class="platform-sprite platform-sprite-pc"></span></td>
		<td class="tdw"><i class="fa fa-microphone"></i> Agnizamaka</td>
		<td class="tdr">30 / 76</td>
		<td class="tdw">Daily Mission [Challenge]</td>
		<td>215k dps and 60k health.</td>
		<td>now</td>
	</tr>

	<tr>
		<td><span class="platform-sprite platform-sprite-xbox"></span></td>
		<td class="tdw"><i class="fa fa-microphone"></i> xitgman23</td>
		<td class="tdr">30 / 76</td>
		<td class="tdw">Daily Mission [Challenge]</td>
		<td>need one more for daily challenge quick run</td>
		<td>1 min ago</td>
	</tr>

	<tr>
		<td><span class="platform-sprite platform-sprite-pc"></span></td>
		<td class="tdw"><i class="fa fa-microphone"></i> AlbanianGainz</td>
		<td class="tdr">30 / 76</td>
		<td class="tdw">Dark Zone</td>
		<td>168k/65k Looking to farm dark zone</td>
		<td>3 min ago</td>
	</tr>

	<tr>
		<td><span class="platform-sprite platform-sprite-ps4"></span></td>
		<td class="tdw"><i class="fa fa-microphone"></i> FloorNinja007</td>
		<td class="tdr">30 / 76</td>
		<td class="tdw">Dark Zone</td>
		<td>Farm bosses/xp or go Rouge</td>
		<td>4 min ago</td>
	</tr>

	<tr>
		<td><span class="platform-sprite platform-sprite-ps4"></span></td>
		<td class="tdw"><i class="fa fa-microphone"></i> Oceanfabreze</td>
		<td class="tdr">1 / 1</td>
		<td class="tdw">Dark Zone</td>
		<td><span class="small">[LFM]</span> Need 1 for farm route.. plz have mic. And exp</td>
		<td>5 min ago</td>
	</tr>

	<tr>
		<td><span class="platform-sprite platform-sprite-xbox"></span></td>
		<td class="tdw"><i class="fa fa-microphone"></i> sweek420</td>
		<td class="tdr">30 / 76</td>
		<td class="tdw">Story Mission [Hard]</td>
		<td><span class="small">[LFM]</span> police academy quick run quick run for drops... send mess for inv</td>
		<td>5 min ago</td>
	</tr>

	<tr>
		<td><span class="platform-sprite platform-sprite-xbox"></span></td>
		<td class="tdw"><i class="fa fa-microphone"></i> SlayinTacos21</td>
		<td class="tdr">30 / 76</td>
		<td class="tdw">Dark Zone</td>
		<td>Looking for a group of adults that have a good route to run to farm exp. 170k60k20k. Send inv</td>
		<td>6 min ago</td>
	</tr>

	<tr>
		<td><span class="platform-sprite platform-sprite-xbox"></span></td>
		<td class="tdw"><i class="fa fa-microphone"></i> Gatorinfidel11b</td>
		<td class="tdr">19 / 8</td>
		<td class="tdw">Dark Zone</td>
		<td>Looking for a group to run the dark zone with</td>
		<td>9 min ago</td>
	</tr>

	<tr>
		<td><span class="platform-sprite platform-sprite-xbox"></span></td>
		<td class="tdw"><i class="fa fa-microphone"></i> SPART4Nx117</td>
		<td class="tdr">30 / 76</td>
		<td class="tdw">Daily Mission [Challenge]</td>
		<td><span class="small">[LFM]</span> Need 1 more with +100k dps. Msg for invite</td>
		<td>10 min ago</td>
	</tr>
</tbody>

</table>